/* General */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  background-color: #f2f2f2;
  font-family: 'Lato', sans-serif;
  color: #232323; }

/* HEADER */
.header,
.intro,
.articulo {
  border-bottom: 1px solid #8b0000; }

.navbar-brand {
  height: 100px; }

.logoImg {
  height: 100%; }
  .logoImg:hover {
    animation: shake 0.5s infinite; }

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg); }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg); }
  20% {
    transform: translate(-3px, 0px) rotate(1deg); }
  30% {
    transform: translate(3px, 2px) rotate(0deg); }
  40% {
    transform: translate(1px, -1px) rotate(1deg); }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg); }
  60% {
    transform: translate(-3px, 1px) rotate(0deg); }
  70% {
    transform: translate(3px, 1px) rotate(-1deg); }
  80% {
    transform: translate(-1px, -1px) rotate(1deg); }
  90% {
    transform: translate(1px, 2px) rotate(0deg); }
  100% {
    transform: translate(1px, -2px) rotate(-1deg); } }

.navbar-light .navbar-nav .nav-link {
  color: #8b0000;
  text-transform: uppercase;
  padding: 10px; }
  .navbar-light .navbar-nav .nav-link:hover {
    transition: all 0.3s ease-in-out; }

.navbar-light .navbar-nav .nav-link.active {
  background-color: #8b0000;
  color: #f2f2f2; }

.navbar-light .navbar-nav .nav-link:hover {
  background-color: #8b0000;
  color: #f2f2f2; }

/* Cambiando el boton hamburgesa */
.menuHamburgesa {
  color: #8b0000; }

.navbar-light .navbar-toggler {
  border-color: rgba(0, 0, 0, 0); }

/* MAIN */
.titulo,
.subtitulo {
  color: #8b0000;
  font-weight: 700; }

.titulo {
  text-transform: uppercase; }

.texto a {
  color: #8b0000;
  text-decoration: none;
  text-transform: uppercase; }

/* Wargames */
.box {
  width: 333.33333px;
  padding: 10px; }
  .box img {
    border-radius: 100%;
    max-width: 100%; }

/* Tutorial */
.tutorial {
  border-bottom: 1px solid #8b0000;
  padding: 10px;
  margin-bottom: 50px; }

/* Donde jugar */
.logoClub img {
  width: 100%;
  max-width: 200px;
  border-radius: 100%; }

/* Contacto */
textarea {
  resize: none; }

/* FOOTER */
.footer {
  background-color: #232323;
  color: #f2f2f2;
  text-align: center;
  font-size: 0.75rem;
  padding: 5px 0;
  position: fixed;
  bottom: 0;
  width: 100%; }
  .footer .container p {
    margin-bottom: 0; }
